@model R_PROPERTY.Models.property_details

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>property_details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="property_name" class="control-label"></label>
                <input asp-for="property_name" class="form-control" />
                <span asp-validation-for="property_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="property_type" class="control-label"></label>
                <input asp-for="property_type" class="form-control" />
                <span asp-validation-for="property_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="property_address" class="control-label"></label>
                <input asp-for="property_address" class="form-control" />
                <span asp-validation-for="property_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="property_value" class="control-label"></label>
                <input asp-for="property_value" class="form-control" />
                <span asp-validation-for="property_value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
